$rosewater: #f4dbd6;
$flamingo: #f0c6c6;
$pink: #f5bde6;
$mauve: #c6a0f6;
$red: #ed8796;
$maroon: #ee99a0;
$peach: #f5a97f;
$yellow: #eed49f;
$green: #a6da95;
$teal: #8bd5ca;
$sky: #91d7e3;
$sapphire: #7dc4e4;
$blue: #8aadf4;
$lavender: #b7bdf8;
$text: #cad3f5;
$subtext1: #b8c0e0;
$subtext0: #a5adcb;
$overlay2: #939ab7;
$overlay1: #8087a2;
$overlay0: #6e738d;
$surface2: #5b6078;
$surface1: #494d64;
$surface0: #363a4f;
$base: #212129;
$mantle: #1e2030;
$crust: #181926;

window.Bar {
    background: transparent;
    font-weight: bold;

    >centerbox {
        min-height: 37px;
        background: #131417BF;
    }
}

.container {
    background-color: $base;
    padding: 4px;
    border-radius: 10px;
}

.workspace {
    all: unset;
    padding: 5px;
    background-color: $overlay2;
    border-radius: 10px;
    transition-duration: 100ms;
}

.workspace.empty {
    background-color: $surface2;
    padding: 4px;
    border-radius: 3px;
}

.workspace.empty.current {
    background-color: $overlay0;
}

.workspace.current {
    padding: 4px 11px;
    background-color: $text;
}
